@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu+Mono&display=swap');
html {
    cursor: url('https://cdn.discordapp.com/attachments/842610340168728588/943046166797492284/cursor.png'), auto;
}


h1 {
    color: rgb(0, 255, 0);
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;

}

body {
    background-color: black;
    cursor: url('https://cdn.discordapp.com/attachments/842610340168728588/943046166797492284/cursor.png'), auto;
}

p {
    color:rgb(0, 255, 0);
    font-family: 'Ubuntu Mono', monospace;
}

a {
    color:rgb(0, 255, 0);
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
}
p {
    color:rgb(0, 255, 0);
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
}
.ws {
    white-space: pre-wrap;
}

.margin {
    margin-bottom: 0.5rem;
    line-height: normal;
}

#link {
    color: 0, 255, 0;
}

#link:hover {
    background-color: rgb(0, 255, 0);
    color: black;
    transition-duration: 0.1s;
}

div {
    cursor: url('https://cdn.discordapp.com/attachments/842610340168728588/943046166797492284/cursor.png'), auto;
    color:rgb(0, 255, 0);
    font-family: 'Ubuntu Mono', monospace;
    
}

footer {
    color:rgb(0, 255, 0)
}

.right {
    float: right;
}

.left {
    float: left;
}

b {
    text-align: center;
}

img:hover {
    background-color:white;
    transition-duration:0.5s;
    border-radius: 90px;
}
